/* Styling for ithe NAISS training page */

/* Adjust header logo size */
.md-header__button.md-logo img {
	height: 17px;
	width: auto;
}

/*.md-sidebar__scrollwrap {
	background-color: blueviolet;
}*/
