/* Styling for the NAISS training page */

/* Adjust header logo size */
.md-header__button.md-logo img {
	height: 17px;
	width: auto;
}

/* Adjust colours */ 

/*.md-sidebar__scrollwrap {
	background-color: blueviolet;
}*/

.md-header {
    background: linear-gradient(to right, #4b0029, #010088);
    color: white !important;
}

label.md-header__button:nth-child(6) {
    color: white !important;
}

[data-md-color-scheme="custom-dark"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

[data-md-color-scheme="custom-light"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

