/* Styling for the NAISS training page */

/* Adjust header logo size */
.md-header__button.md-logo img {
	height: 17px;
	width: auto;
}

/* Adjust colours */ 

/*.md-sidebar__scrollwrap {
	background-color: blueviolet;
}*/

.md-header {
    background: linear-gradient(to right, #4b0029, #010088);
    color: white !important;
}

.md-search__button {
    color: white !important;
}

.md-search__button::before {
	background: white;
}

.md-search__button::after {
	background: black;
}

html.js-focus-visible.js body div.md-container main.md-main div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary div.md-sidebar__scrollwrap

div.data-md-color-scheme="custom-dark" .md-sidebar__scrollwrap {
	background-color: blueviolet;
}

div.data-md-color-scheme="custom-light" .md-sidebar__scrollwrap {
        background-color: red;
}


[data-md-color-scheme="custom-dark"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

[data-md-color-scheme="custom-light"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}

