/* Styling for the NAISS training page */

/* Adjust header logo size */
.md-header__button.md-logo img {
	height: 17px;
	width: auto;
}

/* Adjust colours */ 

/*.md-sidebar__scrollwrap {
	background-color: blueviolet;
}*/

root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: ghostwhite;
  --light-color: darkslategray;
  --light-code: tomato;

  --dark-bg: darkslategray;
  --dark-color: ghostwhite;
  --dark-code: gold;
}
* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}
code {
  color: light-dark(var(--light-code), var(--dark-code));
}

.md-header {
    background: linear-gradient(to right, #4b0029, #010088);
    color: white !important;
}

.md-search__button {
    color: white !important;
}

.md-search__button::before {
	background: white;
}

.md-search__button::after {
	background: black;
}

/*[data-md-color-scheme=slate] [data-md-color-primary=custom-dark] .md-sidebar__scrollwrap {
	background-color: #260059;
	color-scheme:dark
}

[data-md-color-scheme=slate] [data-md-color-primary=custom-light] .md-sidebar__scrollwrap {
        background-color: red;
	color-scheme:light
}*/

[data-md-color-scheme="default"] .md-sidebar__scrollwrap {
        background-color: grey;
        color-scheme:light
}

.md-sidebar__scrollwrap {
        background-color: #260059;
        color-scheme:dark
}

/*[data-md-color-scheme="custom-dark"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}*/

/*[data-md-color-scheme="custom-light"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
}*/

